@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "DM Sans";
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.appContainer {
  background-color: #f8f8f7;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.navContainer {
  width: 100%;
  height: 80px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.mainNav {
  height: 80px;
  width: 100%;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  font-size: 1em;
}

.navElement {
  margin: 50px;
}

.welcomeMessage {
  font-size: 1em;
  position: absolute;
  top: 15px;
  left: 50px;
}

.folderInput {
  flex: 1 1 0;
}

.folderSubmit {
  margin-left: 10px;
}

.display {
  max-width: 800px;
  width: 80%;
  margin: 50px 100px;

  display: flex;
  flex-flow: column nowrap;
}

.singleFolderDisplay {
  flex: 1 1 auto;

  min-width: 0;
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: white;

  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.displayTransfers {
  width: 100%;
  flex: 1 1 1;
}

.folderHeader {
  margin: 0 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 1em;
}

.headerText {
  font-weight: 500;
  font-size: 1.7em;
}

.folderHeader > * {
  margin: 10px;
}

.actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.actions > * {
  margin: 15px;
}

.listElements {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.fullElement {
  flex: 1 1 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.fullElement:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.singleElement {
  flex: 1 1 0;
  margin: 10px;

  font-size: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-flow: row nowrap;
}

.singlePart {
  height: 30px;

  font-weight: 500;

  border: 1px solid black;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconButton {
  height: 30px;
  width: 30px;

  font-size: 0.5em;

  border-radius: 50%;
  border: 0px solid white;
  background-color: white;
}

.iconButton:hover {
  background-color: lightgray;
}

.iconButton > img {
  height: 20px;
}

#fileDropbox {
  display: none;
}
